html body {
  background-color: #fff;
}

body {
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 63px 1fr 60px;
  grid-template-areas:
    'header'
    'content'
    'footer';
}

/* Header */
.header {
  grid-area: header;
}

.brand {
  color: #fe6712;
  font-weight: 600;
  margin-bottom: 0;
  margin-left: 1rem;
}

/* Loader */
.loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
}

.loader img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Main container */
.content {
  grid-area: content;
}

#products {
  justify-content: center;
}

article.card {
  border-radius: 8px;
  box-shadow: 5px 3px 7px -2px rgba(0, 0, 0, 0.79);
  display: grid;
  grid-template-rows: 1fr 100px;
  grid-template-areas: 'img' 'info';
  justify-items: center;
  align-items: center;
}

img.card-img-top {
  grid-area: img;
  padding: 20px;
}

div.card-body {
  grid-area: info;
  width: 90%;
  border-top: 1px solid rgb(222, 222, 222);
  padding: 0.8rem;
}

h5.card-title {
  font-size: 0.9rem;
  font-weight: 600;
  height: 30px;
  margin-bottom: 15px;
}

p.card-text {
  font-size: 1rem;
  font-weight: 300;
}

button.btn.btn-secondary.btn-sm {
  border-radius: 50%;
}

.icon {
  font-size: 1.2rem;
  color: white;
}

h2.not-found {
  width: 50%;
  text-align: center;
  margin-top: 200px;
}

/* Footer */
.footer {
  grid-area: footer;
  height: 60px;
  line-height: 60px;
  background-color: hsla(0, 0%, 62%, 0.4);
  text-align: center;
}
